.VzVvcdI331wjYxVCa2-lt {
  border: 1px solid burlywood;
  margin: 0 0 10px;
  padding: 10px;
  list-style: none;
}

.VzVvcdI331wjYxVCa2-lt h2 {
  margin: 0 0 10px;
}

.VzVvcdI331wjYxVCa2-lt p {
  margin-bottom: 0;
}

._14FNhMe97JPN0XuKeZXA1c {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}
.JFC40kjeyHIrFsiubBfEJ {
  margin: 0 0 50px;
  text-align: center;
}

._15GlCI069nqJ4d3onJYD8d {
  font-size: 32px;
  margin: 0 0 10px;
}

._1gvM6huTewC61T3DM24XRi {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

._3N3nXE16ldAcwChoToXCrL {
  display: inline-block;
  position: relative;
}

._8AS2RYh-vHXEEPHM25pJT {
  background: white;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 140px;
  text-align: left;
}

._8AS2RYh-vHXEEPHM25pJT ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

._8AS2RYh-vHXEEPHM25pJT li {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

._8AS2RYh-vHXEEPHM25pJT li:last-child {
  border-bottom: 0;
}

._1JKHRY8qIrORiMmOFMK_6p {
  background: none;
  border: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

._1JKHRY8qIrORiMmOFMK_6p svg {
  margin: 0 5px 0 0;
}

body {
  background-color: #f0f0f0;
}

